.searchbar {
    padding: 10px;

    &--elements {

        input {
            background: url("../../Assets/search.png") top left no-repeat;
            border: 1px solid gray;
            border-radius: 25px;
            background: none;
            height:30px;
            padding-left:25px; 
        }
    
        img {
            width: 30px;
            height: 34px;
        }
    }
}